.portfolio-section {
  padding: 120px 0;
  background-color: var(--color-light);

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    @include mobile {
      display: block;
    }
  }

  &__slider-nav {
    transform: translateX(12px);

    @include mobile {
      transform: none;
    }
  }

  &__title {
    margin: 0;
    max-width: 710px;
    padding-bottom: 13px;
    color: var(--color-ebony);

    @include tablet {
      margin-bottom: 15px;
      padding-bottom: 0;
      font-size: 40px;
      line-height: 55px;
    }

    @include mobile {
      max-width: none;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__learn {
    margin-top: 80px;

    @include mobile {
      margin-top: 40px;
    }
  }

  @include mobile {
    padding: 40px 0;
  }
}

// отключение кнопки свайпер при достижении последнего элемента
.slider-nav__btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}