li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.nav_links a {
    text-decoration: none;
}

.logo {
    font-size: 30px;
    color: black;
}


.menu li {
    padding: 5px 15px;   
}

#checkbox_toggle {
    display: none;
    height: 40px;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger_line{
    background-color: #EE4248;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger_line::before,
.hamburger_line::after {
    background-color: #EE4248;
    content: "";
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}

.hamburger_line::before{
    top: 7px;
}

.hamburger_line::after{
    top: -7px;
}

@media (max-width: 768px){
    .menu__items {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        background-color: rgb(247, 244, 244);
        text-align: center;
        right: 0;
        left: 0;
        margin-top: 20px;
    }

    .menu__items li a {
        color: rgb(68, 68, 68);
        display: block;
        padding: 15px;
    }

    .menu__items li {
        transition: all .5s;
    }

    .menu__items li:hover{
        background-color: aquamarine;    
    }

    .hamburger {
        display: block;
        padding: 20px 0s;
    }

    #checkbox_toggle:checked ~ .menu__items {
        display: block;
        max-height: 100%;
        transition: all .5s;
    }



    #checkbox_toggle:checked ~ .hamburger .hamburger_line{
        background-color: transparent;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger_line::before{
        transform: rotate(-45deg);
        top: 0;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger_line::after{
        transform: rotate(45deg);
        top: 0;
    }

}