<header class="header header--main">
  <a href="#page1" data-scroll class="to-top">
    <span class="to-top__icon">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.7071 14.2929C20.0976 14.6834 20.0976 15.3166 19.7071 15.7071C19.3166 16.0976 18.6834 16.0976 18.2929 15.7071L12 9.41421L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071Z"/>
      </svg>        
    </span>
  </a>
  <div class="container header__container"> 
    <a href="index.html" class="logo">
      <img src="img/logo.svg" alt="Createx Logo">
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="about.html" class="nav__link">About Us</a></li> 
        <li class="nav__item"><a href="services.html" class="nav__link">Services</a></li>
        <li class="nav__item"><a href="work.html" class="nav__link">Work</a></li>
        <li class="nav__item"><a href="news.html" class="nav__link">News</a></li>
        <li class="nav__item"><a href="contacts.html" class="nav__link">Contacts</a></li>
      </ul>
      <div class="header-contacts header-contacts--nav">
        <a href="tel:4055550128" class="header-contacts__link contacts-link contacts-link--call">
          <span class="contacts-link__caption">Call us</span>
          <span class="contacts-link__value">(405) 555-0128</span>
        </a>
        <a href="mailto:hello@createx.com" class="header-contacts__link contacts-link contacts-link--mail">
          <span class="contacts-link__caption">Talk to us</span>
          <span class="contacts-link__value">hello@createx.com</span>
        </a>
      </div>
    </nav>
    <div class="header-contacts">
      <a href="tel:4055550128" class="header-contacts__link contacts-link contacts-link--call">
        <span class="contacts-link__caption">Call us</span>
        <span class="contacts-link__value">(405) 555-0128</span>
      </a>
      <a href="mailto:hello@createx.com" class="header-contacts__link contacts-link contacts-link--mail">
        <span class="contacts-link__caption">Talk to us</span>
        <span class="contacts-link__value">hello@createx.com</span>
      </a>
    </div>
    <button class="btn-reset burger">
      <span class="burger__line"></span>
    </button>
  </div>
</header>
