
@media (max-width: 990px) {
    header {
        box-shadow: none;
    }

    .hero {
        margin-top: 80px;
    }

    .hero__image {
        width: 48%;
    }

    .hero__title {
        font-size: 38px;
    }

    .hero__text {
        font-size: 16px;
    }

    .hero__btn {
        font-size: 18px;
        padding: 10px 28px;
        width: 170px;
    }

    .about__image {
        width: 48%;
    }

    .about__title {
        font-size: 38px;
    }

    .about__text {
        font-size: 16px;
    }

    .products__title {
        margin-top: 80px; 
    }

    .contacts {
        margin-top: 80px;
    }

}

@media (max-width: 858px) {

    /* burger menu start */

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        color: #fff;
    }
    
    .nav_links a {
        text-decoration: none;
    }
    
    .logo {
        font-size: 30px;
        color: black;
    }
    
    
    .menu li {
        padding: 5px 15px;   
    }
    
    #checkbox_toggle {
        display: none;
        height: 40px;
    }
    
    .hamburger {
        display: none;
        font-size: 24px;
        cursor: pointer;
    }
    
    .hamburger_line{
        background-color: #EE4248;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
        top: -6px;
    }
    
    .hamburger_line::before,
    .hamburger_line::after {
        background-color: #EE4248;
        content: "";
        display: block;
        position: absolute;
        transition: all .3s;
        width: 100%;
        height: 100%;
    }
    
    .hamburger_line::before{
        top: 7px;
    }
    
    .hamburger_line::after{
        top: -7px;
    }

    .menu__items {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        background-color: #fff;
        text-align: center;
        right: 0;
        left: 0;
        margin-top: 20px;
    }

    .menu__items li a {
        color: black;
        display: block;
        padding: 15px;
    }

    .menu__items li {
        transition: all .5s;
    }

    .hamburger {
        display: block;
        padding: 20px 0s;
    }

    #checkbox_toggle:checked ~ .menu__items {
        display: block;
        max-height: 100%;
        transition: all .5s;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger_line{
        background-color: transparent;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger_line::before{
        transform: rotate(-45deg);
        top: 0;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger_line::after{
        transform: rotate(45deg);
        top: 0;
    }

    /* burger menu end */


    .menu__item:hover {
        background-color: #CFD8DC;
    }

    .header__img {
        margin-right: 20px;
    }

    .header__img:last-child {
        margin-right: 0px;
    }

    .header__container {
        display: block;
    }
   
    .menu__list {
        margin-top: 45px;
        justify-content: space-between;
    }

    .header__logo, .header__icons {
        display: none;    
    }
    
    .header__menu{
        display: none;
    }

    .hero {
        margin-top: 30px;
    }

    .hero__title {
        font-size: 34px;
    }

    .hero__text {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 22px;
        
    }

    .hero__btn {
        font-size: 16px;
        padding: 7px 28px;
        width: 150px;
    }

    .about {
        margin-top: 60px;  
    }

    .about__title {
        font-size: 34px;
    }

    .about__text {
        font-size: 14px;
        margin-top: 15px;
    }

    .about__info {
        margin-right: 0;
    }

    .products__title {
        margin-top: 60px;
    }

    .products__title {
        font-size: 30px;
    }

    .products__info__title{
        font-size: 24px;
    }

    .products__text{
        font-size: 14px;
        text-align: justify;
    }
    
    .products__btn{
        font-size: 14px;
    }

    .contacts {
        margin-top: 60px;
    }

    .contacts__country {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .contats__info {
        font-size: 14px;
    }

    .contacts__title {
        font-size: 18px;
        margin-bottom: 3px;
    }

    .contacts__digital a {
        font-size: 14px;
    }


}

@media (max-width: 640px) {
    .menu__list {
        display: block;
        text-align: center;
        font-size: 40px;
    }

    .hero__info {
        width: 100%;
    }

    .hero {
        margin-top: 30px;
    }

    .menu__list{
        margin-top: 0px;
    }

    .hero__container {
        display: block;
        text-align: center;
    }

    .hero__text {
        margin-top: 20px;
        margin-bottom: 30px;
        line-height: 25px;
    }

    .hero__image {
        margin-top: 30px;
    }

    .hero__btn {
        margin-left: auto;
        margin-right: auto;
    }

    .about__container {
       text-align: center;
       display: flex; 
       flex-direction: column-reverse;
    }

    .about__info {
        width: 100%;
        margin-right: 0px;
    }

    .products__info {
        display: block;
        margin-top: 20px;
    }    

    .products__item{
        display: block;
        text-align: center;
        margin-top: 30px;
    }

    .products__text {
        text-align: center;
    }

    .products__btn{
        margin-left: auto;
        margin-right: auto;
    }

    .contacts_container {
        display: block;
        text-align: center;
    }

    .contacts__title {
        margin-top: 10px;
    }
    
    .footer {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .copyright {
        font-size: 14px;
    }

    .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }

}

@media (max-width: 425px){
    .hero__title{
        font-size: 28px;
    }

    .hero__text {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .about__title {
        font-size: 28px;
    }

    .products__img {
        max-width: 20%;
    }

    .products__item {
        margin-top: 15px;
    }

}

@media (max-width:375px){
    .hero__title{
        font-size: 22px;
    }

    .hero__text {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 15px;
    }

    .hero__btn {
        font-size: 14px;
        padding: 4px;
        width: 130px;
    }

    .about__title {
        font-size: 22px;
    }

    .about__text {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 15px;
    }

    .products__text {
        font-size: 14px;
    }

}