@media (max-width: 1450px ) {
    
  .prevue__image_small img {
    height: 320px;
    width: 250px;
  }

  .prevue__image img {
    height: 380px;
    width: 250px;
  }
}

@media (max-width: 1310px ) {
  .prevue__card:last-child {
    display: none;
  }

  .prevue__image img {
    height: 320px;
    width: 250px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 20px;
  }

  .exclusive {
    padding: 20px 0;
    margin-top: 80px;
  }

  .exclusive__cards {
    margin-top: 40px;
  }

  .exclusive__text {
    font-size: 37px;
  }

  .exclusive__subtext{
    font-size: 14px;
  }

  .adventures__title {
    margin-top: 50px;
  }

  .adventures__cards {
    margin-top: 30px;
  }

  .adventures__item {
    margin-top: 16px;
  }

  .features {
    margin-top: 110px;
  }

  .features__text {
    font-size: 18px;
  }

  .features__options {
    font-size: 20px;
  }

  .testimonials {
    margin-top: 100px;
  }

  .newsletter__cards {
    padding-top: 40px;
  }

  .feedback {
    padding-top: 60px;
  }

  .contact {
    padding: 80px 0;
  }

  .contact__phone {
    font-size: 20px;
  }

  .bottom__container {
    padding-bottom  : 50px;
  }

  footer{
    padding: 30px 0;
  }
}

@media (max-width: 1199px ) {
  .container {
    padding: 0 40px;
  }

  .about__card_right{
    display: none;
  }

  /* медиа запрос под карточки товаров */
  .adventures__item:nth-child( n + 7 ){
    display: none;
  }

  .features__img_right {
    transform: translateY(-119%) translateX(69%);
  }

  .exclusive__cards {
    flex-direction: column;
    align-items: center;
  }

  .exclusive__item {
    text-align: center;
    margin-bottom: 35px;
  }

  .newsletter__card {
    width: 500px;
  } 

  .adventures__item {
    margin: 16px 5px 0 5px;
  }

  .testimonials__text {
    min-height: 368px;
    padding: 40px;
  }
}

@media (max-width: 1120px ) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 18px;
  }

  .contact__subtitle {
    margin: 10px -5px;
  }

  .contact__title{
    margin-bottom: 10px
  }

  .newsletter {
    margin-top: 60px
  }

  .testimonials__slider {
    margin-bottom: 60px
  }
   
  .contact__map iframe {
    width: 500px;
  }

  .bottom__container {
    padding-bottom: 30px;
  }

  .newsletter__card {
    width: 450px;
  } 

}

@media (max-width: 1073px ) {

  h2 {
    font-size: 38px;
    margin-top: 5px;
    line-height: 1em;
    letter-spacing: -9px;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 14px;
  }

  .about__card {
    text-align: center;
  }

  .prevue__card:nth-last-child(2) {
    display: none;
  }

  .prevue {
    padding: 0 15px;
  }

  .about__text {
    font-size: 18px;
    margin-top: 5px;
  }

  .about__subcard {
    margin-top: 20px;
  }

  .about__img img{
    height: 440px;
    width: 350px;
  }
  .exclusive__cards {
    margin-top: 15px;
  }

  .exclusive__item {
    margin-bottom: 20px;
  }

  .features__items {
    text-align: center;
  }

  .features__text, .features__options {
    font-size: 16px;
    margin-top: 15px;
  }

  .features__line {
    margin-bottom: 20px;
  }

  .features__img_main{
    height: 440px;
    width: 350px;
  }

  .features__img_main img{
    height: 440px;
    width: 350px;
  }

  .features__img_right{
    width: 200px;
    height: 299px;
    transform: translateY(-123%) translateX(142%);
  }

  .features__img_right img {
    width: 200px;
    height: 299px;
  }

  .btn--orange {
    display: block;
    margin: 30px auto 0 auto;
  }

  .testimonials__text {
    min-height: 333px;
    padding: 24px;
  }

  .subtitle__bar {
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  .newsletter__title {
    text-align: center;
  }

  .newsletter__subtitle{
    letter-spacing: -8px;
    margin-bottom: 15px;
  }

  .newsletter__cards {
    padding-bottom: 20px;
  }

  .feedback {
    padding-top: 20px;
  }

  .feedback__container{
    display: block;
    text-align: center;
  }

  .feedback__input {
    width: 200px;
  }
  
  .feedback__form{
    padding: 30px 0;
    justify-content: space-around;
  }

  .feedback__email {
    padding: 5px 7px;
    margin-right: 80px;
  }

  .contact{
    padding: 50px 0;
  }

  .contact__info{
    font-size: 16px;
  }

  .contact__cards {
    text-align: center;
  }

  .contact__card{
    justify-content: center;
  }
}

@media (max-width: 1050px ) {
  .burger {
    display: block;
  }

  .header__nav {
    position: fixed;
    right: 0;
    top: 63px;
    z-index: 10;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    height: 45vh;
    background-color: #6347F9;
    transform: translateX(100%);
    transition: 0.6s ease-in-out;
  }

  .nav--visible {
    transform: none;
  }

  .nav__list{
    flex-direction: column;
  }

  .nav__item a{
    text-align: center;
    color: #ffffff;
    width: 100%;
    
  }



  .nav__item:not(:last-child){
    margin-right: 0;
  }

  .nav__link{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
    font-size: 18px;
  }

  .testimonials__text{
    min-height: 260px;
  }

  .testimonials__author{
    margin-top: 30px;
    justify-content: center;
  }

  .newsletter__cards{
    display: block;
    margin: 0 auto;
  }

  .newsletter__card {
    margin: 0 auto ;
  }

  .newsletter__card:last-child{
    margin-top: 20px;
  }

  .contact__map iframe {
    width: 450px;
    height: 425px;
  }
}

@media (max-width: 919px ) {
  .exclusive__img img {
    height: 370px;
    width: 350px;
  }

  .exclusive__price{
    font-size:30px;
    transform: translateY(-149%) translateX(33%);
    padding: 27px 24px 27px 18px;
  }

  .adventures__item:nth-child( n + 5 ){
    display: none;
  }

  .adventures {
    text-align: center;
  }
  .adventures__cards{
    justify-content: space-around;
  }

  .adventures__item p {
    margin: 0;
  }

  .adventures__img {
   margin: 5px;
  }

  .features__img_right{
    display: none;
  }

  .contact__items {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .contact__cards {
    margin-bottom: 30px;
  }

  .contact__map iframe {
    width: 680px;
    height: 445px;
  }

}

@media (max-width: 804px ) {
  h1 {
    font-size: 42px;
  }

  .hero {
    padding: 120px 0;
  }

  .hero__title{
    padding-top: 6px;
    letter-spacing: -10px;
    line-height: 55px;
  }

  .hero__subtitle{
    font-size: 15px;
  }

  .about__card {
    max-width: 90%;
  }

  .prevue{
    display: none;
  }

  .about {
    margin-top: 50px;
  }

  .about__items{
    justify-content: center;
  }

  .about__img {
    display: none;
  }

  .about__text{
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
  }
  
  .features__items{
    justify-content: center;
  }

  .features__item {
    max-width: 90%;
  } 

  .features__img_main{
    display: none;
  }

  .testimonials__text{
    min-height: auto;
  }

  .bottom__container {
    display: block;
    text-align: center;
  }
  
  .bottom__title{
    margin: 25px 0;
  }

  .footer__container{
    display: block;
    text-align: center;
  }

  .footer__items {
    margin-top: 15px;
    justify-content: center;
  }

  .contact__map iframe{
    width: 480px;
    height: 405px;
  }
}

@media (max-width: 639px ) {
  
  .adventures__item:nth-child( n + 2 ){
    display: none;
  }

  .feedback__form {
    flex-direction: column;
  }

  .feedback__email{
    margin-bottom: 20px;
    width: 200px;
    margin-right: 0;
  }

  .newsletter__card{
    width: auto;
  }

  .feedback__input {
    width: 150px;
  }

  .contact__map {
    display: none;
  }
}

@media (max-width: 423px ) { 
  .exclusive__img img {
    height: 270px;
    width: 266px;
  }

  .exclusive__price {
    transform: translateY(-130%) translateX(16%);
  }

  .newsletter__card-content {
    text-align: center;
    flex-direction: column;
  }

  .footer__link{
    font-size: 13px;
  }
}


.adventures__item.is-visible {
  display: block;
}
