html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Zetta', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #010208;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header start */

header {
    position: absolute;
    left: 0;
    right: 0;
}

.header__container {
    padding-top: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -8px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav__links {

}
.menu__items {
    display: flex;
    list-style-type: none;
    
}


.menu__link {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;    
    margin-left: 50px;
}

.menu__link:hover{
    font-family: 'Lexend Zetta';
    text-transform: uppercase;
    border: 1px solid;
    transition: ease 0.3s;
}

/* header end */

.hero {
    background-color: #6347F9;
    max-width: 100%;
    text-align: center;
    padding-top: 221px;
    padding-bottom: 221px;
}

.hero__container {
}
.hero__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero__title {
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;;
    letter-spacing: -14px;
    color: #FFFFFF;
    padding-top: 19px;
}