html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Zetta';
    background-color: rgb(255, 255, 255);
    color: #010208;
    font-size: 16px;
}

h2 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -12px;
    color: #333333;
}

h3 {
    font-family: 'Open Sans';
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.49833);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header start */

header {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
}

.header__container {
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -8px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__links {
}

.menu__items {
    display: flex;
    list-style-type: none;
}

.menu__link {
    font-family: 'Open Sans';
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;    
    margin-left: 50px;
}

.menu__link:hover{
    font-family: 'Lexend Zetta';
    text-transform: uppercase;
    border: 1px solid;
    transition: ease 0.3s;
}

/* header end */


/* hero start */

.hero {
    background-color: #6347F9;
    max-width: 100%;
    text-align: center;
    padding-top: 221px;
    padding-bottom: 307px;
}

.hero__container {
}

.hero__text {
    font-family: 'Open Sans';
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero__title {
    font-size: 72px;
    line-height: 80px;;
    letter-spacing: -14px;
    color: #FFFFFF;
    padding-top: 19px;
}

/* hero end */


/* prevue start */

.prevue {
    transform: translateY(-50%);
}

.prevue_container {
    max-width: 100%;
    padding: 0;
}
.prevue__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prevue__card {
    text-align: center;    
}

.prevue__image {
}

.prevue__title {
    font-family: 'Open Sans';
    line-height: 32px;
    color: #333333;
}

.prevue__text {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.496405);
}
/* prevue end */

/* about start */

.about {
    transform: translateY(-15%);
}

.about_container {
}

.about__items {
    display: flex;
    justify-content: space-between;
}
.about__card {
    max-width: 50%;
}

.about_title {
}

.about__subtitle {
    transform: translateX(-2%);
    margin-top: 31px;
}

.about__text {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin-top: 31px;
}
.about__subcard {
    margin-top: 41px;
}

.subcard__header {
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.subcard__text {
    font-family: 'Open Sans';
    line-height: 32px;
    color: rgba(51, 51, 51, 0.496405);
    margin-top: 5px;
    margin-bottom: 32px;
}

.about__btn {
    letter-spacing: -3px;
    text-transform: uppercase;
    color: #F07C52;
    border: 1px solid #F07C52;
    text-decoration: none;
    padding: 14px 26px;
}

.about__btn:hover{
    background-color: #F07C52;
    color: #FFFFFF; 
    transition: ease 0.3s;
}

.about__img {
    max-height: 592px;
    max-width: 470px;   
}

.about__card {
   
}

.about__card_right {
    transform: translateY(-127%) translateX(-37%);
    max-height: 388px;
    max-width: 270px;
    padding: 34px 35px 0 35px;
    background-color: #F07C52;
}

.card_right__text {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}

.card_right__author {
    font-family: 'Open Sans'; 
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
    margin-top: 12px;
}
.card_right__img {
    margin-top: 16px;
}

/* about end */